body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 10, 10);
  color: white;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Gabarito:wght@400;700&family=Poppins&family=Roboto&display=swap');

code {
  font-family: 'DM Sans', sans-serif;

}

